@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden; /* No scroll */
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none; /* Prevent rubber-banding on mobile */
}

/* MapLibre Container needs to be absolute and full */
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}