@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden; /* No scroll */
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none; /* Prevent rubber-banding on mobile */
}

/* MapLibre Container needs to be absolute and full */
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Custom Popup Styles */
.maplibregl-popup-content {
  padding: 12px 16px !important;
  border-radius: 12px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  font-family: inherit;
}

.maplibregl-popup-close-button {
  display: none;
}

.maplibregl-popup-tip {
  border-top-color: white !important;
}